body{
    //size
    height: 100vh;
    max-width: 100%;

    // position 
    @include flex-center;
    font-family: $font-family;
    
    main{
        // position
        @include flex;

        // apparence
        border-radius: $border-radius;
        // box-shadow
        box-shadow: $box-shadow;

        .result{
            //position 
            @include flex;
            width: 50%;
            background: $background-result;
            height: 100%;
            border-radius: $border-radius;
            article{
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                height: 100%;
                padding:2%;
                h2{
                    font-size: 1.2rem;
                    color: $Light-lavender;
                    margin: $margin;
                }
                .round{
                    border-radius: 50%;
                    padding:10%;
                    background: $background-round;
                    width: 50%;
                    text-align: center;
                    margin: $margin;
                    .large-number{
                        font-size: 3rem;
                        color: white;
                        font-weight: 700;
                        margin: $margin;
                    }
                    .small-number{
                        font-size: 1rem;
                        color: $Light-lavender;
                        margin: $margin;
                    }
                }

                h3{
                    font-size: 1.6rem;
                    color: rgba(255, 255, 255, 0.863);
                    margin: $margin;
                }
                
                p{
                    color: rgba(255, 255, 255, 0.63);
                    text-align: center;
                    width: 75%;
                    margin: $margin;
                }
            }
        }

        .summary{
            @include flex-left;
            width: 50%;
            height: 100%;
            padding:2%;
            .summary-title{
                font-size: 1.2rem;
                color: rgba(0, 0, 0, 0.767);
                margin: $margin2;
            }
            .summary-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 6% 5%;
                margin: $margin2;
                border-radius: 5px;
                .img{
                    @include flex;
                }
                .point{
                    @include flex;
                }
            }

            #Reaction{
                font-size: 1rem;
                background-color: hsla(0, 100%, 67%, 0.1);
                .img{
                    img{
                        margin: 2%;
                    }
                    p{
                        margin: 2%;
                        color: $Light-red;
                    }
                }
                .point{
                    width: 30%;
                    .value{
                        color: rgba(0, 0, 0, 0.918);
                        margin: 2%;
                    }
                    .cent{
                        color: rgba(0, 0, 0, 0.5);
                        margin: 2%;
                    }
                }
            }

            #Memory{
                font-size: 1rem;
                background-color: hsla(39, 100%, 56%, 0.1);
                .img{
                    img{
                        margin: 2%;
                    }
                    p{
                        margin: 2%;
                        color: $Orangey-yellow;
                    }
                }
                .point{
                    width: 30%;
                    .value{
                        color: rgba(0, 0, 0, 0.918);
                        margin: 2%;
                    }
                    .cent{
                        color: rgba(0, 0, 0, 0.5);
                        margin: 2%;
                    }
                }
            }

            #Verbal{
                font-size: 1rem;
                background-color: hsla(166, 100%, 37%, 0.1);
                .img{
                    img{
                        margin: 2%;
                    }
                    p{
                        margin: 2%;
                        color: $Green-teal;
                    }
                }
                .point{
                    width: 30%;
                    .value{
                        color: rgba(0, 0, 0, 0.918);
                        margin: 2%;
                    }
                    .cent{
                        color: rgba(0, 0, 0, 0.5);
                        margin: 2%;
                    }
                }
            }

            #Visual{
                font-size: 1rem;
                background-color: hsla(234, 85%, 45%, 0.1);
                .img{
                    img{
                        margin: 2%;
                    }
                    p{
                        margin: 2%;
                        color: $Cobalt-blue;
                    }
                }
                .point{
                    width: 30%;
                    .value{
                        color: rgba(0, 0, 0, 0.918);
                        margin: 2%;
                    }
                    .cent{
                        color: rgba(0, 0, 0, 0.5);
                        margin: 2%;
                    }
                }
            }
            .continue-link{
                width: 100%;
                border-radius: $border-radius;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $Dark-gray-blue;
                color: rgba(255, 255, 255, 0.856);
                padding: 5%;
                font-size: 1.2 rem;
                margin: $margin2;
            }
        }
    }
    
    footer{
        margin-top: 2%;
    }
}
