@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;    
}

@mixin flex-left{
    display: flex;
    justify-content: center;
    align-items: start; 
    flex-direction: column;  
}